body {
  padding: 0 2%;
  background-color: grey;
}
#container {
  width: 95%;
  border: 1px solid grey;
  padding: 0 2%;
  background: white;
}
h1, h2, h3 {
  color: grey;
}
input {
  overflow: hidden;
  border: none;
  width: 100%;
}
#tbl_head {
  width: 100%;
}
#tbl_head td {
 margin: 0;
 padding: 0;
}
#tbl_cli, #tbl_empr {
  width: 100%;
}
#tbl_cli th, #tbl_empr th {
  width: 20%;
  text-align: left;
  border-left: 4px solid grey;
}
#tbl_orc, #tbl_mtl, #ttl_orc {
  width: 100%;
}
#ttl_orc td, #tbl_orc td, #tbl_mtl td, #tbl_cli td, #tbl_empr td {
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
}
th {
  text-align: left;
  border-left: 4px solid grey;
}
textarea {
  font-size: 1rem;
  text-indent: 3rem;
  resize: none;
  overflow: hidden;
  width: 100%;
}
.load_top {
  margin-top: 1%;
}
.fixed {
  transition: 3s linear;
  position: fixed;
  margin-top: 0 !important;
  z-index: 100;
}
.nav {
  background-image: url("https://image.shutterstock.com/image-vector/collection-cobweb-isolated-on-black-600w-714848071.jpg");
}
.navbar, .nav-item {
  margin-left: 2%;
}
.navbar {
  padding-right: 4%;
}
.article {
  margin-top: 2%;
  padding: 1%;
}
html {
  font-size: 1rem;
}

@media print {
  button {
    display: none;
  }
  h1 {
    color: grey;
  }  
}
