body {
  padding: 0 2%;
  background-color: grey;
}
#container {
  width: 95%;
  border: 1px solid grey;
  padding: 0 2%;
  background: white;
}
h1, h2, h3 {
  color: grey;
}
input {
  overflow: hidden;
  border: none;
  width: 100%;
  padding-left: 10px;
}
#tbl_head {
  width: 100%;
}
#tbl_head th {
  border-left: 4px solid grey;
}
#tbl_title {
  width: 60%;
}
#tbl_title td, #tbl_title input {
  text-align: center;
  vertical-align: middle;
}
#tbl_empresa {
  width: 100%;
}
#tbl_empresa th {
  width: 20%;
  border-bottom: 1px solid grey;
}
#tbl_empresa td {
  width: 80%;
  border-bottom: 1px solid grey;
}
#tbl_cliente {
  width: 100%;
}
.th6 {
  width: 10%;
  border-bottom: 1px solid grey;
}
.td44 {
  width: 40%;
  border-bottom: 1px solid grey;
}
#tbl_serv, #tbl_mate, #ttl_serv {
  margin-bottom: 2%;
  width: 100%;
}
#ttl_serv td, #tbl_serv td, #tbl_mate td {
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
}
#ttl_serv th, #tbl_serv th, #tbl_mate th {
  border-left: 4px solid grey;
}
textarea {
  font-size: 1rem;
  text-indent: 3rem;
  resize: none;
  overflow: hidden;
  width: 100%;
}
.load_top {
  margin-top: 1%;
}
.fixed {
  transition: 3s linear;
  position: fixed;
  margin-top: 0 !important;
  z-index: 100;
}
.nav {
  background-image: url("https://image.shutterstock.com/image-vector/collection-cobweb-isolated-on-black-600w-714848071.jpg");
}
.navbar, .nav-item {
  margin-left: 2%;
}
.navbar {
  padding-right: 4%;
}
.article { 
  margin-top: 2%;
  padding: 1%;
}
html {
  font-size: 1rem;
}
a {
  color: black;
}
th {
  padding-left: 10px;
}
