
#container {
  width: 95%;
  border: 1px solid grey;
  padding: 2% 2%;
  background: white;
}
body {
  padding: 0 2%;
  background-color: white;
}
.noprint {
  visibility: hidden !important;
}
h1, h2, h3 {
  color: grey !important;
}
input {
  overflow: hidden;
  border: none;
  width: 100%;
}
#tbl_head {
  width: 100%;
}
#tbl_title {
  width: 60%;
}
#tbl_title td {
  margin: 0 auto;
}
#tbl_cliente, #tbl_empresa {
  width: 100%;
}
#tbl_serv, #tbl_mate {
  margin-bottom: 3%;
  width: 100%;
}
#ttl_serv {
  margin-bottom: 10%;
  width: 100%;
}
#ttl_serv td, #tbl_serv td, #tbl_mate td {
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
}
th {
  text-align: left;
  border-left: 4px solid grey;
}
textarea {
  font-size: 1rem;
  text-indent: 3rem;
  resize: none;
  overflow: hidden;
  width: 100%;
}
html {
  font-size: 1rem;
}
button  {
  visibility: hidden !important;
}
