
#container {
  width: 95%;
  border: 1px solid grey;
  padding: 2% 2%;
  background: white;
}
h1, h2, h3 {
  color: grey !important;
}
input {
  overflow: hidden;
  border: none;
  width: 100%;
}
#tbl_head {
  width: 100%;
}
#tbl_head td {
 margin: 0;
 padding: 0;
}
#tbl_cli, #tbl_empr {
  width: 100%;
}
#tbl_orc, #tbl_mtl {
  margin-bottom: 3%;
  width: 100%;
}
#ttl_orc {
  margin-bottom: 10%;
  width: 100%;
}
#ttl_orc td, #tbl_orc td, #tbl_mtl td {
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
}
th {
  text-align: left;
  border-left: 4px solid grey;
}
textarea {
  font-size: 1rem;
  text-indent: 3rem;
  resize: none;
  overflow: hidden;
  width: 100%;
}
html {
  font-size: 1rem;
}
button  {
  visibility: hidden !important;
}
